# Streamlit Community Cloud secrets
# https://docs.streamlit.io/deploy/streamlit-community-cloud/deploy-your-app/secrets-management

AUTH = false # true : OIDC認証を使う / false : OIDC認証なし
APP_PASSWORD_HASH = "your_sha256_hashed_password_here" # 設定しない場合は合言葉保護なし(AUTH = false の時のみ有効)
EMAIL_HASH_SALT = "your_email_hash_salt_string_here" # メールアドレスハッシュ化のためのsalt

# --- Database Connections ---
# データベースの接続情報を設定します。
# 使用するデータベースの種類に応じて、対応するセクションをアンコメントし、値を設定してください。

# [connections.postgresql]
#  dialect = "postgresql"
#  driver = "psycopg2"
#  username = "app_user"
#  password = "app_pass"
#  host = "localhost"
#  port = 5432
#  database = "app_db"
#  # The full URL constructed from the above, or you can specify it directly
#  url = "postgresql+psycopg2://app_user:app_pass@localhost:5432/app_db"

# [connections.mysql]
#  dialect = "mysql"
#  driver = "mysqlconnector"
#  username = "app_user"
#  password = "app_pass"
#  host = "127.0.0.1"
#  port = 3306
#  database = "app_db"
#  url = "mysql+mysqlconnector://app_user:app_pass@127.0.0.1/app_db"


# --- For Google Sheets ---
[gcp_service_account]
type = "service_account"
project_id = "your-project-id"
private_key_id = "your-private-key-id"
private_key = "-----BEGIN PRIVATE KEY-----\n...your-private-key...\n-----END PRIVATE KEY-----\n"
client_email = "your-client-email"
client_id = "your-client-id"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "your-client-x509-cert-url"
universe_domain = "googleapis.com"


# --- For OIDC Auth ---
[auth]
redirect_uri = "your-redirect-uri"
cookie_secret = "your-cookie-secret"
client_id = "your-client-id"
client_secret = "your-client-secret"
server_metadata_url = "your-server-metadata-url"